@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

.back-to-top {
  z-index: 9999999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color:white;
  color: black !important;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1.1);
}

.back-to-top:hover {
  background-color: rgb(255, 244, 255);
  transform: scale(1.2);
}
::placeholder {
  color: black !important;
  opacity: 1; 
}